/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.main-pic {
	width: 100%;
	margin-top: 5px;
}

#logo {
	height: 45px;
	margin:4%;
}

h1 {
	font-size: 2rem;
}

p {
	font-size: 1.2rem;
}

.contactsp {
	display: inline-block;
	padding-left: 15px;
}

li div {
	display: flex;
	align-items: center;	
}

.terminals {
	width: 100%;
}




@media (max-width: 800px) {
  #logo {
	
/*	margin: 3% 0% 0% 30%;*/
}

h1 {
	font-size: 2.2rem;
	margin: 5% 0;
}

}
